{% extends "layout.html" %}
{% block body %}

<h1 class="text-center">Potted Plant Protection</h1> </br>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="jumbotron">
      Welcome to this simple Flask example app. It shows you how to easily
      enable users to register, login, and logout of a Flask web app using 
      <br><br>
      <!-- <a type="button" class="btn btn-secondary btn-lg btn-block" href="dashboard">Dashboard</a> -->
    </div>
  </div>
</div>

{% endblock %}